body{
    margin:auto;
    background-color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.slideDiv{
    height: 500px;
    width: 100%;
}
.slideDiv img{
    height: 100%;
    width: 100%;

}

#quickSearch{
    /* height:600px; */
    /* border:5px  solid green; */
    width:70%;
    margin-left:15%;
    margin-top:2%;
}

#quickHeading{
    font-size:30px;
    display:block;
    color:#3b2632;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left:2%;
}

#quickHeading:hover{
    font-size:40px;
    color:black
}

#quickSubHeading{
    font-size:20px;
    color:gray;
    display:block;
    line-height: 2;
    margin-left:2%;
}

.tileContainer{
    width: 30%;
    height:180px;
    display:inline-block;
    margin-left:2%;
    margin-top:3%;
    box-shadow: 10px 20px 5px gray;

    border-radius: 21px;
}

.tileContainer:hover{
     transform: scale(1.1);
}

.tileComponent1{
    width:50%;
    float:left;
}

.tileComponent1 > img{
    width: 100%;
    height: 180px;
    border-radius: 21px;
}

.tileComponent2{
    width:45%;
    float:left;
    margin-left: 4%;
    margin-top: 15%;
}
.componentHeading{
    color: #3b2632;
    font-size:25px;
}
.componentSubHeading{
    color: gray;
    font-size:20px;
}


/*Footer Css*/
Footer{
    /* height:100px; */
    margin-top:3%;
    background-color: black;
    color:white;
    text-align: center;
}

#footText{

    font-size: 15px;
}

.footDiv{
    height:70px;
    width:33%;
    display: inline-block;
}

.noBorder{
    border:none
}

.socialIcon{
    height:36px;
    width:36px
}

@media screen and (max-width:1000px){
    body{
        background-color: rgb(240, 232, 175)
    }
    .tileContainer{
        width: 45%;
    }
    #heading {
        margin-top: 31%;
        font-size: 45px;
    }
     .dropdown{
        margin-top: 42%;
    }
}

@media screen and (max-width:948px){

    #heading {
        margin-top: 20%;
        font-size: 45px;
    }
     .dropdown{
        margin-top: 32%;
    }
}

@media screen and (max-width:800px){
    body{
        background-color: rgb(175, 240, 197)
    }
}

@media screen and (max-width:600px){
    body{
        background-color: rgb(211, 237, 176)
    }
    .tileContainer{
        width: 100%;
    }
    #logo{
        margin-left:30%
    }
    #heading {
        margin-top: 46%;
        margin-left: 0%;
        font-size: 39px;
    }
    .dropdown {
        margin-left: 0%;
        width:100%;
        margin-top: 65%;
    }
}